@font-face {
    font-family: 'Cormorant SC';
    src: url('../fonts/CormorantSC-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri/calibri.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri/calibri_bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}