body {
    font-family: var(--font-base);
    font-weight: normal;
    min-width: 320px;
    overflow-x: hidden;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(17px, #{calc(25/1920*100)}vw, 25px);
    color: var(--color-text);


}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--font-title);
    font-weight: bold;
    color: var(--color-dark-blue);
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    margin: 0;
}

h1 {
    font-size: clamp(50px, #{calc(80/1920*100)}vw, 80px);
    line-height: 0.88;
    margin-bottom: clamp(20px, #{calc(35/1920*100)}vw, 35px);;
}

.l-section{
    padding-block: clamp(35px, #{calc(75/1920*100)}vw, 75px);

    h2, .h2{
        font-size: clamp(28px, #{calc(48/1920*100)}vw, 48px);
        line-height: 1.2;
        text-align: center;
        margin-bottom: clamp(28px, #{calc(50/1920*100)}vw, 50px);
        text-transform: uppercase;

        &.text-left{
            text-align: left;
        }
    }

    small{
        font-weight: 300;
        margin-bottom: 17px;
        display: inline-block;
        @media screen and (max-width: 768px){
            margin-bottom: 0;
        }
    }

}

ul:not([class]){
    list-style-type: none;
    margin: 0;
    padding-left: clamp(10px, #{calc(110/1920*100)}vw, 110px);
    margin-top: clamp(30px, #{calc(56/1920*100)}vw, 56px);

    @media screen and (max-width: 768px){
        padding-left: 0;
    }

    li{
        display: flex;
        align-items: start;
        gap: 8px;
        flex-wrap: nowrap;
        &::before{
            content: '';
            background-image: url(../img/icons/book.svg);
            width: clamp(18px, #{calc(22/1920*100)}vw, 22px);
            height: clamp(16px, #{calc(20/1920*100)}vw, 20px);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            flex-shrink: 0;
            margin-top: clamp(5px, #{calc(11/1920*100)}vw, 11px)
        }
    }

}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 100px;
    line-height: 1;
    border: 1px solid var(--color-blue);
    transition: all 0.25s;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 34px;
    @media screen and (max-width: 991px){
        font-size: 16px;
        padding: 12px 20px;
    }
}
.btn-o {
    background-color: var(--color-white);
    color: var(--color-blue);
}
.btn-o:hover {
    opacity: 1;
    background-color: #f8f8f8;
}
.btn:hover {
    opacity: 0.9;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}