:root {
    --color-dark-blue: #2E3160;
    --color-blue: #277DA9;
    --color-text: #333333;
    --color-black: #000000;
    --color-white: #ffffff;

    --box-shadow: 0px 10px 10px #EBEFF7;

    --font-base: 'Calibri', sans-serif;
    --font-title: 'Cormorant SC', serif;

    --container-width: 1070px;
    --container-padding-x: 16px;

}